@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 70vh;">
    <h1 class="display-4 mb-4">Mikro Markete Hoş Geldiniz!</h1>
    <p class="lead mb-4">Alışverişe başlamak için aşağıdaki butona tıklayın.</p>
    <a href="/Sales/Index" class="btn btn-primary btn-lg">Alışverişe Başla</a>
</div>
