@{
    ViewData["Title"] = "Order Canceled";
}

<div class="text-center mt-5">
    <h1 class="text-danger display-3">❌</h1>
    <h2>Your order has been canceled!</h2>
    <a href="@Url.Action("Products", "Sales")" class="btn btn-primary">Back to Products</a>

</div>
